env
.env
venv/
__pycache__/
.DS_Store
flagged
wav/*
notebook/npz
vits/model/*.pth
rvc/model/*/*.pth
rvc/model/*/*.index
.ipynb_checkpoints
.idea
./bark_generation_rvc.wav
./bark_generation.wav
vits/monotonic_align/build
vits/monotonic_align/vits
vits/monotonic_align/core*.c
vits/monotonic_align/core.cpython-310-x86_64-linux-gnu.so
test.wav
speakers/result
speakers.egg-info
bark/model/codec/encodec_24khz-d7cc33bc.th
bfg.jar
bark/assets/prompts/*
rvc/model/hubert_base.pt
rvc/model/rmvpe.pt
out
*/**/*.pth
*/**/*.index
*/**/*.th
*/**/*.so
*/**/*.wav
*/**/*.c
/src/components/speakers/my_example_component/__init__.py
/src/components/speakers/my_example_component/core.py
/src/components/speakers/vits/monotonic_align/build/temp.linux-x86_64-cpython-310/core.o
poetry.lock
