Cython==0.29.21
# vits_text
unidecode
# pre uninstall cmake
pyopenjtalk
jamo
pypinyin
jieba
cn2an
# vits_text

nest_asyncio
gradio==3.33.1
fairseq
torch
torchaudio
soundfile
scipy==1.9.3
librosa==0.9.1
musicdl
pyaudio
torchcrepe==0.0.20
praat-parselmouth>=0.4.2
pyworld==0.3.2
faiss-cpu==1.7.3
numpy==1.23.5
nltk

edge-tts
IPython
tqdm
pandas

## bark
transformers
encodec
huggingface-hub>=0.14.1
funcy

# config manage
omegaconf
pydantic

# log
colorama

# server
fastapi~=0.99.1
starlette~=0.27.0
uvicorn~=0.23.1
requests
oscrypto
